
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8d7e3; 
    color: #333; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff; 
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.content {
    flex: 2;
    padding-right: 20px;
    text-align: left;
    margin-right: 20px;
}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: pink;
    text-align: left;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}


.info-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 94, 122, 0.4); 
    transition: transform 0.3s ease-in-out;
}

.info-item:hover {
    transform: translateY(-5px); 
}

.info-item p {
    font-size: 18px;
    color: #333;
    margin: 0;
}


h4 {
    font-family: 'Dancing Script', cursive; 
    font-size: 20px;
    color: palevioletred;
    text-align: center;
    margin-top: 20px; 
}


button {
    background-color: #e97ea5;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}


.images-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

.image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    margin: 0; 
    border: 5px solid #e97ea5; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-circle:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 768px){
    .colaborador img{
        width: 30%;
    }
}

